@model UserInfo

@{
    ViewBag.Title = "Toplantı Başvuru";
}

<form method="post" action="/Meeting/Application">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">İsim</label>.
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">E-posta adresi</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Number" class="form-label">Telefon Numarası</label>
        <input asp-for="Number" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Participate" class="form-label">Katılım Durumu</label>
        <select asp-for="Participate" class="form-select">
            <option value="" class="form-control">Seçiniz</option>
            <option value="true" class="form-control">Katılacağım</option>
            <option value="false" class="form-control">Katılmayacağım</option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-small btn-outline-success" type="submit">Kaydet</button>
    </div>
</form>

    